@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    height: 100vh;
    background-color: #2b68be57;
    overflow-y: hidden;
}

nav.menuLateral {
    width: 5%;
    height: 100%;
    background-color: #2b68be;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #18a3ff;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

nav.menuLateral.expandir {
    width: 15%;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir>i {
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

ul {
    height: 100%;
    list-style-type: none;
}

.item-menu {
    cursor: pointer;
}

.modalBut {
    cursor: pointer;
}

ul li.item-menu {
    transition: 1s;
}

ul li.ativo {
    background-color: #18a3ff;
}

ul li.item-menu:hover {
    background: #18a3ff;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 75px;
    transition: .5s;
}

nav.menuLateral.expandir .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}


.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.containerGeral {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empurradora {
    width: 16%;
    display: none;
}

.empurradora.aparecer {
    display: block
}

.containerKPI{
    width: 220px;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 40px;
}

.KPI {
    width: 100%;
    height: 25%;
    background-color: #f8faff;
    border-radius: 20px;
    /* margin: 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.KPI>span {
    font-size: 20px;
}

.containerLista {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-right: 30px; */
}

#tituloDepto {
    position:absolute;
    font-size: 35px;
    padding: 10px;
    top: 20px;
    background-color: rgb(139, 139, 196);
    border-radius: 20px;
}

.listaAmbientes {
    margin: 20px 0 0 30px;
    width: 80%;
    height: 90%;
    background-color: #cecefd;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: #2b68be57 10px 10px 20px;
}

.listaAmbientes>input {
    margin-top: 50px;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    color: #FFF;
    width: 180px;
    border-radius: 10px;
    background-color: #77b9e6;
    cursor: pointer;
}

.dialogUser {
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    width: 500px;
    border-radius: 30px;
    border: 3px solid #18a3ff;
    margin-top: 180px;
}

.dialogUser::backdrop {
    background-color: rgba(0, 0, 0, 0.7)
}

.contModal {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nomeModal {
    height: 50%;
    text-align: center;
    margin-top: 10px;
}

.nomeModal>span {
    font-size: 160px;
}

.modalBut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.modalBut>button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: #18a3ff;
    color: white;
    margin-bottom: 30px;
}

.modalAMB {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;
    border-radius: 30px;
    border: 3px solid #18a3ff;
    margin-top: 130px;
}

.modalAMB::backdrop {
    background-color: rgba(0, 0, 0, 0.7)
}

.contAmb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}

.modalButAMB {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modalButAMB>button {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: #18a3ff;
    color: white;
    margin-bottom: 30px;
}

.ambNome {
    margin-bottom: 90px;
}

.modalButFECHAR>button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: #ff0800;
    color: white;
    margin-bottom: 10px;
}

.modalCS {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 900px;
    border-radius: 30px;
    border: 3px solid #18a3ff;
    margin-top: 30px;
}

.modalCS::backdrop {
    background-color: rgba(0, 0, 0, 0.85);
}

.contCS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
    height: 100%;
    width: 100%;
}

.conteudoCS {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.csChart {
    height: 100%;
    width: 10%;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.tituloGraficos {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.graph {
    width: 70%;
    margin: auto;
    padding-top: 10px;
}

#titleConj {
    text-align: center;
}

dialog {
    overflow: hidden;
    background-color: rgb(186, 207, 255);
    padding: 20px;
}

#graficos:nth-child(1) {
    height: 80%;
}

canvas {
    width: 90% !important;
    height: 90% !important;
    margin: auto;
  }

#modalConjunto {
    width: 200px;
    height: 400px;
    z-index: 1;
}

.tituloGraficos {
    font-size: 26px;
    margin-bottom: 20px;
}

.chartGraph {
    cursor: pointer;
    background-color: #77b9e6;
    color: #ffff;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 20px 30px;
    display: flex;
    margin: 10px auto 0 auto;
}

#contKPIcs {
    display: flex;
}

.KPIcs {
    width: 100%;
    height: 120px;
    background-color: rgb(117, 159, 250);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 20px 0 0 20px;
    padding: 5px;
}

#fecharModalGraf {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 30px;
    color: rgb(63, 114, 224);
    font-weight: bold;

}

.aviso_piscando {
    animation: piscar 1s infinite;
    background-color: rgb(255, 187, 0);
}

@keyframes piscar {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  #containerLegendas {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .legenda {
    width: 130px;
    height: 290px;
    margin-bottom: 20px;
  }